Body{
    font-family:'Open Sans';
    padding:0;
    Margin:0;
}

header{
    padding-top:10px;
    padding-bottom:25px; 
    padding-left:0;
    padding-right:0; 
    background:#f3f3f3;
    border-bottom:20px solid #002fff;  
  }

Nav{
    width:960px;
    margin:0 auto;
  }
 
  ul{
  list-style:none;
  text-align:right; 
  margin-top:-40px;
  text-transform:uppercase; 
  }

  li{
    display:inline;
    padding:2px 20px;
  }

  a{
    color:#530f2e
    font-familyTrebuchet MS;
    text-decoration:none 
  }